
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Mateus Stangherlin</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="home">Início</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Projetos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="https://curriculoonlinemateus.vercel.app/">Currículo Online</a></li>
              <li><a class="dropdown-item" href="https://sm-designers-graficos.vercel.app/">Site SM</a></li>
              <li><a class="dropdown-item" href="https://mateus402.github.io/SM-Designers-Graficos-V2/">Site SM V2</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="https://github.com/Mateus402">Demais projetos no Gitub</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Redes Sociais
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="https://www.instagram.com/_mateus_stangherlin_/">Instagram</a></li>
              <li><a class="dropdown-item" href="https://www.linkedin.com/in/mateus-stangherlin-47a1b1230/">Linkedin</a></li>
              <li><a class="dropdown-item" href="https://github.com/Mateus402">GitHub</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Whats (46) 991235798</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <button class="btn btn-outline-success me-3">Login</button>
          <a class="btn btn-outline-success" href="cadastro">Cadastre-se</a>
        </form>
      </div>
    </div>
  </nav>